.table-section {
	padding-top: 50px;
	margin: 50px 0;
	border-top: 1px solid darken(white, 50%);
}

input[type="text"] {
	padding: 10px 15px;
}


#user-table {
	width: 70vw;
	margin: 0 auto;

	.table-search input{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 10px	;
	}

	table {
		border: 1px solid black;
		border-collapse: collapse;
		width: 100%;

		button {
			cursor: pointer;
			border: none;
			background: none;
		}


		td, th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		tr:nth-child(even) {
			background: #CCC;
		}

		thead th {
			text-align: center;
			padding-top: 12px;
			padding-bottom: 12px;
			background-color: #4CAF50;
			color: black;
		}

		tbody tr td:first-child {
			text-align: center;
		}

		tbody tr td {
			text-align: start;
		}

		.align-right {
			text-align: right;
		}

		.align-center {
			text-align: center;
		}
	}
}
